// font
$font-title: 'Trade Winds',
cursive;
$font-body: 'Open Sans',
sans-serif;
// color
$color-yellow: #ffc107;
body {
  font-family: $font-body;
  background-color: #f3f6f6;
}

header {
  .jumbotron {
    background: url("https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA14293-1600x1200.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1 {
    font-family: $font-title;
    color: $color-yellow;
    font-size: 42px;
  }
  p {
    color: grey;
  }
}

.card {
  border-radius: 0 !important;
  border: none;
  background-color: #f6c90e;
  .card-header {
    font-weight: 500;
    font-size: 18px;
    border: none;
    background-color: #f6c90e;
  }
  .card-body {
    max-height: 200px;
    padding: 0;
    overflow: hidden;
    .image-thumb {
      height: 100%;
    }
  }
  .card-footer {
    border: none;
    background-color: #f6c90e !important;
  }
  .btn-light {
    color: #f6c90e !important;
    min-width: 120px;
    margin: 0 .5rem;
    border: none;
    border-radius: 0 !important;
    background-color: white;
  }
}